<!-- Possibly an unnecessary page??? -->

<p id="notice"><%= notice %></p>

<h1>Lecture Module Contents</h1>

<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Code</th>
      <th>Academic year end</th>
      <th>Week</th>
      <th>Description</th>
      <th>Content</th>
      <th>Lecture module</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "lecture_module_contents/lecture_module_content",
               collection: @lecture_module_contents,
               locals: { show_pdf: FALSE } %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture Module Content', new_lecture_module_content_path %>
