<h1>New Content for <%= @lecture_module_content.get_module_full_title %> - Week <%= @lecture_module_content.week_number %></h1>

<%= render 'form', lecture_module_content: @lecture_module_content %>

<% if session[:previous_page] %>
  <%= link_to 'Back', session[:previous_page] %>
<% end %>
