<footer class="footer fixed-bottom">
  <div class="container footer">
  <div class="row">
    <div class="col-1">
      <% if user_signed_in? %>
        <%= render partial:'shared/todo_list_popover' %>
      <% end %>
    </div>
    <div class="col-10" id="footer_title">
      <span class="text-muted">Learning Platform created by Ian Williams, 2018</span>
    </div>
    <div class="col-1">
    </div>
  </div>
</footer>
