<span id="timer_popover">
  <a id="timer_popover_link"
     style="color:blue; font-style:underlined;"
     data-toggle="popover"
     title="Timer"
     data-placement="top"
     data-content="<div id='timer_popover'><%= render partial:'shared/timer_popover_content' %></div>">
     Timer</a>
</span>
