<h1 id='timer'><span id='minutes'></span>:<span id='seconds'></span></h1>
<form class='button_to' method='get' action='/timer/start' data-remote='true'>
  <input type='submit' value='Start' id='start_button'>
  <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
</form>
<form class='button_to' method='get' action='/timer/stop' data-remote='true'>
  <input type='submit' value='Stop' id='stop_button'>
  <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
</form>
<form class='button_to' method='get' action='/timer/reset' data-remote='true'>
  <input type='submit' value='Reset' id='reset_button'>
  <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
</form>
