<div class="modal fade" id="timer_settings_modal" tabindex="-1" role="dialog" aria-labelledby="timerSettingsModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Timer Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h3>Set Timer Length</h3>
          <form>
            <div class="row">
              <div class="col-sm">

                  <div class="form-group">
                    <label for="study_timer_input">Study</label>
                    <input type="number" class="form-control" id="study_timer_input" aria-describedby="emailHelp" value=25 min=1>
                  </div>

              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="short_break_input">Short Break</label>
                  <input type="number" class="form-control" id="short_break_input" aria-describedby="emailHelp" value=5 min=1>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="long_break_input">Long Break</label>
                  <input type="number" class="form-control" id="long_break_input" aria-describedby="emailHelp" value=10 min=1>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="save-timer-settings" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
