<span>
  <a style="color:blue; font-style:underlined;"
     data-toggle="popover"
     title="Todo Lists"
     data-placement="top"
     data-content="<div id='todo_lists_accordion_popover'><%= render partial:'shared/todo_lists_accordion',
                                                                     locals: { type: 'popover' }%></div>">ToDo</a>
</span>
