<div id='accordion'>
  <%= render partial: 'todo_lists/todo_list',
             collection: @todo_lists_global,
             locals: { type: type } %>

  <div class='card'>
    <div class='card-header'>
      <a href='/todo_lists/new' data-original-title='Todo Lists'>+ New To Do List</a>
    </div>
  </div>

</div>
