<h1>My Timetable</h1>

<p>Please note: Timetables are currently only available for University of Sheffield students</p>

<iframe src="https://cmisgonow.sheffield.ac.uk/CMISGo/Web/Timetable" style="width:100%; height:700px;"></iframe>
