<p id="notice"><%= notice %></p>

<h1>Subtasks</h1>

<p>THIS PAGE WONT BE NECESSARY</p>

<table>
  <thead>
    <tr>
      <th>Completed</th>
      <th>Main Task Name</th>
      <th>Title</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "subtask",
               collection: @subtasks,
               locals: { short_view: false } %>
  </tbody>

</table>

<br>

<%= link_to 'New Subtask', new_subtask_path %>
