<dd>
  <ul class="list-inline">
    <li class="list-inline-item col-sm-9"><%= link_to lecture_module.get_module_full_title, lecture_module %></li>
    <li class="list-inline-item col-sm-1"><%= link_to 'Edit', edit_lecture_module_path(lecture_module) %></li>
    <li class="list-inline-item col-sm-1"><%= link_to 'Destroy', lecture_module, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</dd>
