<p id="notice"><%= notice %></p>

<h1>Lecture Modules</h1>

<h2>Current Modules</h2>
<table>
  <tbody>
    <%= render(@current_modules) %>
  </tbody>
</table>


<h2>Completed Modules</h2>
<table>
  <tbody>
    <%= render(@completed_modules) %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture Module', new_lecture_module_path %>
