<!-- <p id="notice"><%= notice %></p> -->

<dl>
  <dt>Current Modules</dt>
  <%= render(@current_modules) %>
  <dt>Completed Modules</dt>
  <%= render(@completed_modules) %>
</dl>

<br>
<%= link_to 'New Lecture Module', new_lecture_module_path %>
