<h3><%= @page_title %></h3>
<div id="modules_index">
  <%= render partial: 'lecture_modules/modules_index' %>
</div>

<br>
<%= link_to 'New Lecture Module', new_lecture_module_path %>
<br>
<br>
<hr>
<br>
<p>* Starred modules were created by you. Other people can see them and the content you have added to them but only you can edit or delete them and their contents.</p>
