// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments_hidden {
  display: none;
}

.comments_card {
  max-height: 450px;
}

.comments_padding {
  margin: 12px 2px;
}

span[contenteditable] {
  .edit_icon {
    display: none;
  }
  &:hover {
    .edit_icon {
      display: inline-block;
    }
  }
  &:focus {
    .edit_icon {
      display: none;
    }
  }
}
