// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// These styles apply to the notes which are only accessible in the lecture_modules show page
// Therefore, they are contained within the .lecture_modules class
.lecture_modules {
  .notes_section {
    .notes_hidden {
      display: none;
    }

    div[contenteditable] {
      width: 100%;
      height: 10em;
      overflow: auto;
      border: solid gray 1px;
    }
  }

}
