// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// These styles apply to the tasks viewed from the popover and, as such, need to be accessible from all pages
// Therefore, they are not contained within the .tasks class
.task_overdue {
  background-color: red;
}

.task_due_today {
  background-color: orange;
}

.task_due_tomorrow {
  background-color: yellow;
}

.todo_list_key {
  font-size: 14px;
  line-height: 18px;
  border: 1px solid;
  padding: 1px;
  margin-left: -15px;
}

.key_title {
  font-weight: bold;
  text-decoration: underline;
}

.task_completed {
  display: none;
}

.task_show {
  display: block;
}

.toggle-task-checkbox {
  margin-top: 0;
}

.task-item {
   padding: 2px 0;
}
